:host {
  width: 100%;
  height: 100%;
}

.filters-container {
  display: block;
  width: 100%;
  margin: 0 auto 42px auto;
  span {
    display: inline-block;
    cursor: pointer;
    background-color: #22aed1;
    padding: 4px 8px;
    margin: 8px;
    color: #fff;
    border-radius: 4px;
  }
}
