:host {
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 2em;
}

.followed-coin {
  margin-right: 8px;
  cursor: pointer;
}

.link-section {
  .link-section-list {
    list-style: none;
    padding-left: 8px;
    border: 1px solid #dee2e6;
    border-top: 0;
    padding: 16px;
    height: 380px;
    overflow-y: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      font-size: 16px;
    }

    button {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .page-section {
    padding-top: 2em;
  }

  .link-section {
    .link-section-list {
      button {
        position: relative;
        right: -16px;
      }
    }
  }
}

@media (max-width: 450px) {
  ::ng-deep .add-coin-btn {
    width: 100%;
  }

  .coin-bookmarks-section {
    text-align: left;
  }
}
