<div id="add-coin-modal-container"></div>
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-10 col-md-6 col-xl-4">
      <div class="row">
        <div class="col text-center">
          <h1>Settings</h1>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-12">
          <span class="font-weight-bold">Username</span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.username"
            placeholder="Username"
          />
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-12">
          <span class="font-weight-bold">Name</span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.name"
            placeholder="Name"
          />
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-12">
          <span class="font-weight-bold">Surname</span>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.surname"
            placeholder="Surname"
          />
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-12">
          <span class="font-weight-bold">Email</span>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="user.email"
            placeholder="email"
          />
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <span class="font-weight-bold">Followed coins</span>
          <div class="row mt-2">
            <div
              class="col-12 col-sm-6"
              *ngIf="
                user.bookmarked_coins && user.bookmarked_coins.length !== 0
              "
            >
              <span
                class="followed-coin"
                *ngFor="let coinId of user.bookmarked_coins"
              >
                <coin iconId="{{ coinId }}"></coin>
              </span>
            </div>
            <div class="col-12 col-sm-6">
              <add-coin-modal [user]="user"></add-coin-modal>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-start mt-4">
        <div class="col-sm-6 offset-sm-3">
          <button
            class="btn col btn-primary mt-4 font-weight-bold"
            (click)="update()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
