<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="mt-5 col-12 col-md-8 col-lg-6 col-xl-4">
      <div class="row">
        <div class="col text-center">
          <h1>Register</h1>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            [(ngModel)]="user.username"
          />
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            [(ngModel)]="user.email"
          />
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            [(ngModel)]="user.password"
          />
        </div>
        <div class="col">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"
            [(ngModel)]="passwordConfirmation"
          />
        </div>
      </div>
      <div class="row justify-content-start mt-4">
        <div class="col">
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="termsAccepted"
              />
              I Read and Accept
              <a [routerLink]="['/terms']" target="_blank"
                >Terms and Conditions</a
              >
            </label>
          </div>

          <button
            class="btn btn-primary mt-4"
            (click)="register()"
            [disabled]="
              !termsAccepted ||
              !user.username ||
              user.password != passwordConfirmation
            "
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
