@import "../../../styles/_colors.scss";

.reset-password-modal {
  .modal-dialog {
    margin: 190px auto auto auto;

    .modal-body {
      max-height: 340px;
      overflow-y: auto;
    }
  }

  button.close {
    outline: none;
  }
}

.forgotten-password-link {
  color: $dark-blue;
  text-decoration: underline;
  cursor: pointer;
}
