<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm Delete</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
    <p class="font-weight-bold">This operation is non-reversible</p>
  </div>
  <div class="modal-footer">
    <button
      id="delete-confirmation-btn"
      type="button"
      class="btn btn-default btn-danger"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>

<button class="btn btn-default btn-danger" (click)="open(content)">
  Delete
</button>
