<div class="home text-center">
  <div class="row">
    <div class="col-12 no-ht-padding">
      <ngb-carousel id="home-carousel" *ngIf="carouselImages">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="carouselImages[0]" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h2>News</h2>
            <p>Follow latest developments</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="carouselImages[1]" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h2>Academy</h2>
            <p>
              Take advantage of a collection of section-divided material
            </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="carouselImages[2]" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h2>Prices</h2>
            <p>Monitor prices and other financial data</p>
          </div>
        </ng-template>
      </ngb-carousel>
      <!--<img class="bc-cover" src="assets/images/blockchain.png" />-->
    </div>
  </div>

  <div class="col-sm-6 offset-sm-3 text-center">
    <button class="btn btn-default btn-primary" (click)="refreshInfo()">
      <span>Refresh Prices</span>
      <span>
        <span
          style="display: inline-block; margin-left: 8px;"
          *ngIf="isUpdating"
          class="fa fa-refresh fa-spin white"
        ></span>
      </span>
    </button>
  </div>
</div>

<div class="marketing">
  <div *ngIf="!contentLoaded" class="pt-5">
    <horizontal-loader></horizontal-loader>
  </div>

  <div class="row icons" *ngIf="contentLoaded">
    <div class="col-6 col-md-3">
      <div class="icon-container" [routerLink]="'/coinpage/bitcoin'">
        <coin
          [price]="cryptoInfos.btc.price"
          [precision]="2"
          [currency]="currency"
          [name]="'bitcoin'"
          [iconId]="'bitcoin'"
          [nameWeight]="500"
          [iconSizeMultiplier]="3"
        ></coin>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="icon-container" [routerLink]="'/coinpage/ethereum'">
        <coin
          [price]="cryptoInfos.ether.price"
          [precision]="2"
          [currency]="currency"
          [name]="'ethereum'"
          [iconId]="'ethereum'"
          [nameWeight]="500"
          [iconSizeMultiplier]="3"
        ></coin>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="icon-container" [routerLink]="'/coinpage/cardano'">
        <coin
          [price]="cryptoInfos.cardano.price"
          [precision]="3"
          [currency]="currency"
          [name]="'cardano'"
          [iconId]="'cardano'"
          [nameWeight]="500"
        ></coin>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="icon-container" [routerLink]="'/coinpage/litecoin'">
        <coin
          [price]="cryptoInfos.litecoin.price"
          [precision]="2"
          [currency]="currency"
          [name]="'litecoin'"
          [iconId]="'litecoin'"
          [nameWeight]="500"
        ></coin>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="contentLoaded">
    <div class="col-6 col-md-3">
      <div class="icon-container" [routerLink]="'/coinpage/chainlink'">
        <coin
          [price]="cryptoInfos.chainlink.price"
          [precision]="2"
          [currency]="currency"
          [name]="'chainlink'"
          [iconId]="'chainlink'"
          [nameWeight]="500"
        ></coin>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="icon-container" [routerLink]="'/coinpage/tether'">
        <coin
          [price]="cryptoInfos.tether.price"
          [precision]="2"
          [currency]="currency"
          [name]="'tether'"
          [iconId]="'tether'"
          [nameWeight]="500"
        ></coin>
      </div>
    </div>
    <div class="col-6 col-md-3 ">
      <div class="icon-container" [routerLink]="'/coinpage/tezos'">
        <coin
          [price]="cryptoInfos.tezos.price"
          [precision]="2"
          [currency]="currency"
          [name]="'tezos'"
          [iconId]="'tezos'"
          [nameWeight]="500"
        ></coin>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="icon-container" [routerLink]="'/coinpage/ripple'">
        <coin
          [price]="cryptoInfos.xrp.price"
          [precision]="3"
          [currency]="currency"
          [name]="'ripple'"
          [iconId]="'ripple'"
          [nameWeight]="500"
        ></coin>
      </div>
    </div>
  </div>
</div>
