<div class="container-fluid text-center">
  <div>
    <h2>Coin Market Info</h2>
    <div class="row pt-3 pb-1">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <div class="row">
          <div class="col-12 text-center filters">
            <div class="row">
              <span class="col-12 col-sm-6 selector">
                <label>Coin</label>
                <select
                  class="ml-2"
                  id="coin-select"
                  [ngModel]="selectedCoin"
                  (ngModelChange)="onCoinSelect($event)"
                >
                  <option
                    [selected]="selectedCoin.name === coin.name"
                    *ngFor="let coin of coins"
                    [ngValue]="coin"
                  >
                    {{ coin.name }}
                  </option>
                </select>
              </span>
              <span class="col-12 col-sm-6 selector">
                <label>Timeframe</label>
                <select
                  class="ml-2"
                  id="timeframe-select"
                  [ngModel]="timeFrame"
                  (ngModelChange)="onTimeFrameChange($event)"
                >
                  <option
                    [selected]="timeFrame.days === time.days"
                    *ngFor="let time of timeFrameSelectOptions"
                    [ngValue]="time"
                  >
                    {{ time.label }}
                  </option>
                </select>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="indicators col-12 col-md-4 col-lg-4">
        <div *ngIf="selectedCoin && prices && prices.length != 0">
          <div class="row">
            <div class="col-12">
              <div>
                <h6>Current price</h6>
                <price
                  [currency]="currency"
                  [precision]="3"
                  [price]="selectedCoin.eurPrice"
                ></price>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div>
                <h6>Market cap</h6>
                <price
                  [currency]="currency"
                  [precision]="0"
                  [price]="selectedCoin.eurMarketCap"
                ></price>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div>
                <h6>Market cap rank</h6>
                <span>#{{ selectedCoin.marketCapRank }}</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div>
                <h6>Total Volume</h6>
                <price
                  [currency]="currency"
                  [precision]="0"
                  [price]="selectedCoin.volume24H"
                ></price>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div>
                <h6>ATH (All Time High)</h6>
                <price
                  [currency]="currency"
                  [precision]="0"
                  [price]="selectedCoin.eurATH"
                ></price>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8">
        <div class="flex">
          <div class="flex-item">
            <div
              class="col-12"
              *ngIf="lineChartData[0].data && lineChartData[0].data.length != 0"
            >
              <canvas
                id="price-chart"
                baseChart
                width="400"
                height="200"
                [datasets]="lineChartData"
                [labels]="labels"
                [options]="lineChartOptions"
                [chartType]="lineChartType"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-12 text-center">
      <button
        class="btn btn-default btn-primary"
        (click)="triggerAdditionalInfo()"
        type="button"
        role="button"
        [attr.aria-expanded]="!showAdditionalInfo"
        aria-controls="additional-info"
      >
        <span>Additional Info</span>
        <span class="pl-2">
          <span class="fa fa-angle-down" *ngIf="!showAdditionalInfo"></span>
          <span class="fa fa-angle-up" *ngIf="showAdditionalInfo"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="row pt-5">
    <div
      class="collapse col-12"
      id="additional-info"
      [ngbCollapse]="!showAdditionalInfo"
    >
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
        labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div>
