<!--[if lte IE 8]>
  <p class="browsehappy">
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
    experience.
  </p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="btn-group" dropdown>
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          CMonitor
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>
            <a class="dropdown-item" [routerLink]="['/home']">Home</a>
          </button>
          <button ngbDropdownItem>
            <a class="dropdown-item" [routerLink]="['/prices']">Prices</a>
          </button>
          <button ngbDropdownItem>
            <a class="dropdown-item" [routerLink]="['/news']">News</a>
          </button>
          <button ngbDropdownItem>
            <a class="dropdown-item" [routerLink]="['/academy']">Academy</a>
          </button>
        </div>
        <select
          class="ml-3"
          id="currency-select"
          [ngModel]="currency"
          (ngModelChange)="currencyChange($event)"
        >
          <option *ngFor="let c of supportedCurrencies" [ngValue]="c">
            {{ c.label }}
          </option>
        </select>
      </div>
    </div>
    <div class="btn-group float-right">
      <div ngbDropdown class="d-inline-block" display="dynamic">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          <span class="fa fa-user"></span>
          <span id="username" class="pl-1" *ngIf="this.user">{{
            this.user.username
          }}</span>
        </button>
        <div
          *ngIf="!this.user"
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
        >
          <button ngbDropdownItem>
            <a class="dropdown-item" [routerLink]="['/login']">Login</a>
          </button>
          <button ngbDropdownItem>
            <a class="dropdown-item" [routerLink]="['/register']">Register</a>
          </button>
        </div>
        <div
          *ngIf="this.user && this.user.username != null"
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
        >
          <button ngbDropdownItem>
            <a class="dropdown-item" [routerLink]="['/settings']">User Area</a>
          </button>
          <button ngbDropdownItem>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </button>
        </div>
      </div>

      <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    </div>
  </nav>
</div>
<div class="app-container container-fluid d-flex h-100">
  <router-outlet></router-outlet>
</div>
