:host {
  display: block;
  height: 100%;
  margin-bottom: 112px;
}

app-toasts {
  top: 76px;
}

#username {
  margin-left: 4px;
  margin-right: 4px;
}

#currency-select {
  border-color: #007bff;
  color: #007bff;
  font-weight: normal;
  top: 2px;
  position: relative;
  height: 38px;
  background-position: calc(100% - 21px) calc(0.85em + 2px),
    calc(100% - 16px) calc(0.85em + 2px), 100%;
}

#currency-select:focus {
  box-shadow: none;
}

@media (max-width: 425px) {
  #currency-select {
    min-width: 96px;
  }

  #username {
    display: none;
  }
}
