
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="header">
      <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            CMonitor <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item"  [routerLink] = "['/home']">Home</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">News</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Academy</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">About</a>
            </li>
          </ul>
        </div>
        <div class="btn-group float-right" dropdown>
          <button type="button" dropdownToggle class="btn btn-primary dropdown-toggle">
            <span class="fa fa-user"></span>
            <span class="pl-1" *ngIf="this.user">{{this.user.username}}</span>
          </button>
          <div *ngIf="!this.user">
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                  <li role="menuitem"><a class="dropdown-item" [routerLink] = "['/login']">Login</a></li>
                  <li role="menuitem"><a class="dropdown-item" [routerLink] = "['/register']">Register</a></li>
                </ul>
          </div>
          <div *ngIf="this.user">
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                <li role="menuitem"><a class="dropdown-item" [routerLink] = "['/settings']">Settings</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
     </nav>
    </div>
  <div class="container-fluid d-flex h-100">
    <router-outlet></router-outlet>
  </div>


