<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="mt-5 col-10 col-md-6 col-xl-4">
      <div class="row">
        <div class="col text-center">
          <h1>Login</h1>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-12">
          <input
            type="text"
            class="form-control text-center"
            [(ngModel)]="user.username"
            placeholder="Username"
          />
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <input
            type="password"
            class="form-control text-center"
            [(ngModel)]="user.password"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 text-center">
          <reset-password-modal></reset-password-modal>
        </div>
      </div>
      <div class="row justify-content-start mt-4">
        <div class="col-sm-6 offset-sm-3">
          <button class="btn col btn-primary mt-4" (click)="login()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
