:host {
  width: 100%;
  height: 100%;

  ::ng-deep #coinpage-icon {
    margin-left: 8px;
    vertical-align: bottom;
    .coin-icon {
      height: 40px;
      width: 40px;
      background-size: cover;
    }
  }

  ::ng-deep .nav-tabs {
    .nav-link {
      cursor: pointer;
      &.active {
        font-weight: bold;
        color: #4f0147;
      }
    }
  }
}

#price-chart {
  width: 100% !important;
  height: 520px !important;
}

.indicators {
  margin-top: 32px;
}

#news-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

@media (max-width: 1024px) {
  #price-chart {
    height: 328px !important;
    margin-top: 48px;
  }

  .indicators {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .indicators {
    margin-top: 24px;
  }
  label {
    width: 100%;
  }
}

@media (max-width: 425px) {
  ::ng-deep #coinpage-icon {
    .coin-icon {
      margin-top: 12px;
    }
  }

  #price-chart {
    height: 228px !important;
    margin-top: 32px;
  }
}
