:host {
  display: inline-block;
  min-width: 36px;
}

$basicSize: 36px;

.coin-name {
  display: inline-block;
  margin: 4px;
  text-transform: capitalize;
}

.coin-icon {
  display: block;
  margin: auto;
  height: $basicSize;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.x1_5 {
    height: $basicSize * 1.5;
    width: $basicSize * 1.5;
  }

  &.x2 {
    height: $basicSize * 2;
    width: $basicSize * 2;
  }

  &.x3 {
    height: $basicSize * 3;
    width: $basicSize * 3;
  }

  &.bitcoin {
    background-image: url("node_modules/cryptocurrency-icons/svg/color/btc.svg");
  }
  &.ethereum {
    background-image: url("node_modules/cryptocurrency-icons/svg/color/eth.svg");
  }
  &.cardano {
    background-image: url("node_modules/cryptocurrency-icons/svg/color/ada.svg");
  }
  &.tezos {
    background-image: url("node_modules/cryptocurrency-icons/svg/color/xtz.svg");
  }
  &.tether {
    background-image: url("node_modules/cryptocurrency-icons/svg/color/usdt.svg");
  }
  &.chainlink {
    background-image: url("node_modules/cryptocurrency-icons/svg/color/link.svg");
  }
  &.ripple {
    background-image: url("node_modules/cryptocurrency-icons/svg/color/xrp.svg");
  }
  &.litecoin {
    background-image: url("node_modules/cryptocurrency-icons/svg/color/ltc.svg");
  }
}
