<div placement="bottom" ngbTooltip="{{ tooltipTxt }}">
  <div>
    <div
      class="coin-icon"
      [ngClass]="iconId"
      *ngIf="iconUrl && iconUrl.length !== 0"
      [ngStyle]="{ 'background-image': 'url(' + iconUrl + ')' }"
    ></div>
    <div
      class="coin-icon"
      [ngClass]="iconId"
      *ngIf="iconUrl ? iconUrl.length === 0 : true"
    ></div>
  </div>
  <span
    *ngIf="name"
    class="coin-name"
    [ngStyle]="{ 'font-weight': nameWeight }"
    >{{ name }}</span
  >
  <div class="row">
    <div class="col-sm-12" *ngIf="price != 0">
      <price
        *ngIf="price"
        [currency]="currency"
        [precision]="precision"
        [price]="price"
      ></price>
    </div>
  </div>
</div>
