:host {
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

#academy {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .links-trigger {
    min-height: 64px;
    width: 100%;
  }

  .links-container {
    border: 1px solid #22aed1;
    border-top: 0;
    border-bottom: 0;
    border-radius: 2px;

    overflow-y: auto;
    height: 236px;
    -ms-overflow-style: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      padding: 2px;

      a {
        color: #db162f;
      }

      .fa-bookmark {
        display: inline-block;
        margin-left: 4px;
        color: #22aed1;
        cursor: pointer;
      }
    }
  }

  .tp-spacer,
  .bt-spacer {
    height: 16px;
    border-right: 1px solid #22aed1;
    border-left: 1px solid #22aed1;
  }

  .tp-spacer {
    border-top: 1px solid #22aed1;
  }

  .bt-spacer {
    border-bottom: 1px solid #22aed1;
  }

  div[ng-reflect-collapsed*="true"] ~ .bt-spacer {
    display: none;
  }
  button[aria-expanded*="true"] ~ div {
    .tp-spacer {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .links-trigger,
  .links-container {
    font-size: 18px;
  }

  .links-container {
    li {
      padding: 4px;
    }
  }
}
