<div id="academy" class="container-fluid text-center">
  <h2>Learn more about crypto</h2>
  <div class="container p-3">
    <div class="row mt-5">
      <div class="col-12 col-md-4 col-lg-3  mb-5  text-center">
        <button
          class="btn btn-default btn-primary links-trigger font-weight-bold"
          (click)="triggerTechnicalTabCollapse()"
          type="button"
          role="button"
          [attr.aria-expanded]="!showTechnicalLinks"
          aria-controls="additional-info"
        >
          <span>Technical Info</span>
          <span class="pl-2">
            <span class="fa fa-angle-down" *ngIf="!showTechnicalLinks"></span>
            <span class="fa fa-angle-up" *ngIf="showTechnicalLinks"></span>
          </span>
        </button>
        <div>
          <div
            class="collapse links-container col-12 pt-3"
            id="additional-info"
            [ngbCollapse]="!showTechnicalLinks"
          >
            <ul>
              <li>
                <a
                  target="_blank"
                  href="https://hackernoon.com/wtf-is-the-blockchain-1da89ba19348"
                >
                  A blockchain introduction
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'A blockchain introduction',
                      'https://hackernoon.com/wtf-is-the-blockchain-1da89ba19348'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://hackernoon.com/what-is-bitcoin-part-1-1755b81984e8"
                >
                  A Bitcoin introduction
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'A Bitcoin introduction',
                      'https://hackernoon.com/what-is-bitcoin-part-1-1755b81984e8'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://hackernoon.com/dows-explores-different-perspectives-on-blockchain-and-cryptocurrencies-a63i363j"
                >
                  Different Perspectives on Blockchain and Cryptocurrencies
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Different Perspectives on Blockchain and Cryptocurrencies',
                      'https://hackernoon.com/dows-explores-different-perspectives-on-blockchain-and-cryptocurrencies-a63i363j'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://hackernoon.com/understanding-cryptocurrency-development-6480d61cece4"
                >
                  Understanding Cryptocurrency Development
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Understanding Cryptocurrency Development',
                      'https://hackernoon.com/understanding-cryptocurrency-development-6480d61cece4'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://hackernoon.com/how-to-generate-bitcoin-addresses-technical-address-generation-explanation-rus3z9e"
                >
                  Bitcoin Addresses
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Bitcoin Addresses',
                      'https://hackernoon.com/how-to-generate-bitcoin-addresses-technical-address-generation-explanation-rus3z9e'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://blockgeeks.com/guides/atomic-swaps/"
                >
                  Atomic swaps
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Atomic swaps',
                      'https://blockgeeks.com/guides/atomic-swaps/'
                    )
                  "
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3  mb-5  text-center">
        <button
          class="btn btn-default btn-primary links-trigger font-weight-bold"
          (click)="triggerFinancialTabCollapse()"
          type="button"
          role="button"
          [attr.aria-expanded]="!showFinancialLinks"
          aria-controls="additional-info"
        >
          <span>Financial Focused Guides/Tools</span>
          <span class="pl-2">
            <span class="fa fa-angle-down" *ngIf="!showFinancialLinks"></span>
            <span class="fa fa-angle-up" *ngIf="showFinancialLinks"></span>
          </span>
        </button>
        <div>
          <div
            class="collapse links-container col-12 pt-3"
            id="additional-info"
            [ngbCollapse]="!showFinancialLinks"
          >
            <ul>
              <li>
                <a
                  target="_blank"
                  href="https://www.financemagnates.com/cryptocurrency/education-centre/five-smart-ways-of-shorting-bitcoin/"
                >
                  Shorting Bitcoin
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Shorting Bitcoin',
                      'https://www.financemagnates.com/cryptocurrency/education-centre/five-smart-ways-of-shorting-bitcoin/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.financemagnates.com/cryptocurrency/education-centre/what-is-an-ico-and-should-i-participate-in-one-a-guide/"
                >
                  Investing in an ICO
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Investing in an ICO',
                      'https://www.financemagnates.com/cryptocurrency/education-centre/what-is-an-ico-and-should-i-participate-in-one-a-guide/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://en.wikipedia.org/wiki/Security_token_offering"
                >
                  STO (Security Token Offering)
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'STO (Security Token Offering)',
                      'https://en.wikipedia.org/wiki/Security_token_offering'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.financemagnates.com/cryptocurrency/education-centre/bitcoin-and-taxation/"
                >
                  Taxation
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Taxation',
                      'https://www.financemagnates.com/cryptocurrency/education-centre/bitcoin-and-taxation/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.financemagnates.com/cryptocurrency/education-centre/what-is-bitcoin-mining/"
                >
                  Mining
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Mining',
                      'https://www.financemagnates.com/cryptocurrency/education-centre/what-is-bitcoin-mining/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a target="_blank" href="https://blockfi.com/earn-crypto/">
                  Earn Interests On Crypto
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Earn Interests On Crypto',
                      'https://blockfi.com/earn-crypto/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://hackernoon.com/which-crypto-lending-platform-to-use-for-passive-income-8af869ab6ca6"
                >
                  Earn Passive Income
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Earn Passive Income',
                      'https://hackernoon.com/which-crypto-lending-platform-to-use-for-passive-income-8af869ab6ca6'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://hackernoon.com/how-to-diversify-your-cryptocurrency-portfolio-8a0d2ebda9b2"
                >
                  Diversify Your Portfolio
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Diversify Your Portfolio',
                      'https://hackernoon.com/how-to-diversify-your-cryptocurrency-portfolio-8a0d2ebda9b2'
                    )
                  "
                ></span>
              </li>

              <li>
                <a target="_blank" href="https://cryptoindex.com/">
                  CryptoIndex (AI based)
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'CryptoIndex (AI based)',
                      'https://cryptoindex.com/'
                    )
                  "
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3  mb-5 text-center">
        <button
          class="btn btn-default btn-primary links-trigger  font-weight-bold"
          (click)="triggerProjectsCollapse()"
          type="button"
          role="button"
          [attr.aria-expanded]="!showProjectsLinks"
          aria-controls="additional-info"
        >
          <span>Interesting Live Projects</span>
          <span class="pl-2">
            <span class="fa fa-angle-down" *ngIf="!showProjectsLinks"></span>
            <span class="fa fa-angle-up" *ngIf="showProjectsLinks"></span>
          </span>
        </button>
        <div>
          <div
            class="collapse links-container col-12 pt-3"
            id="additional-info"
            [ngbCollapse]="!showProjectsLinks"
          >
            <ul>
              <li>
                <a target="_blank" href="https://www.stateofthedapps.com/">
                  State of the Dapps (ETH based decentralized applications)
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'State of the Dapps (ETH based decentralized applications)',
                      'https://www.stateofthedapps.com/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a target="_blank" href="https://makerdao.com/en/">MakerDAO</a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'MakerDAO',
                      'https://makerdao.com/en/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a target="_blank" href="https://chain.link/"
                  >Chainlink (Blockchain oracle)</a
                >
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Chainlink (Blockchain oracle)',
                      'https://chain.link/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://developer.samsung.com/blockchain/keystore"
                  >Samsung Blockchain Keystore</a
                >
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Samsung Blockchain Keystore',
                      'https://developer.samsung.com/blockchain/keystore'
                    )
                  "
                ></span>
              </li>
              <li>
                <a target="_blank" href="http://lightning.network/"
                  >Lightning Network (BTC)</a
                >
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Lightning Network (BTC)',
                      'http://lightning.network'
                    )
                  "
                ></span>
              </li>
              <li>
                <a target="_blank" href="https://iex.ec/">iExec</a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="addArticleToSavedLinks('iExec', 'https://iex.ec/')"
                ></span>
              </li>
              <li>
                <a target="_blank" href="https://steemit.com/">Steemit</a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks('Steemit', 'https://steemit.com/')
                  "
                ></span>
              </li>
              <li>
                <a target="_blank" href="https://groundhog.network/"
                  >Groundhog Network</a
                >
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Groundhog Network',
                      'https://groundhog.network/'
                    )
                  "
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3  mb-5 text-center">
        <button
          class="btn btn-default btn-primary links-trigger  font-weight-bold"
          (click)="triggerBusinesSocialDevCollapse()"
          type="button"
          role="button"
          [attr.aria-expanded]="!showBusinessSocialDev"
          aria-controls="additional-info"
        >
          <span>Business/Social Development</span>
          <span class="pl-2">
            <span
              class="fa fa-angle-down"
              *ngIf="!showBusinessSocialDev"
            ></span>
            <span class="fa fa-angle-up" *ngIf="showBusinessSocialDev"></span>
          </span>
        </button>
        <div>
          <div
            class="collapse links-container col-12 pt-3"
            id="additional-info"
            [ngbCollapse]="!showBusinessSocialDev"
          >
            <ul>
              <li>
                <a
                  target="_blank"
                  href="https://hackernoon.com/blockchain-poised-to-disrupt-education-industry-f41d6f415a3f"
                >
                  How Blockchain Could Disrupt the Education Industry
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'How Blockchain Could Disrupt the Education Industry',
                      'https://hackernoon.com/blockchain-poised-to-disrupt-education-industry-f41d6f415a3f'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://blog.coinbase.com/the-rise-of-crypto-in-higher-education-81b648c2466f"
                  >The rise of crypto in high education</a
                >
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'The rise of crypto in high education',
                      'https://blog.coinbase.com/the-rise-of-crypto-in-higher-education-81b648c2466f'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://medium.com/the-capital/the-rise-fall-and-rebirth-of-cryptocurrency-debit-cards-2f5cc738eda3"
                  >Crypo debit cards</a
                >
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Crypo debit cards',
                      'https://medium.com/the-capital/the-rise-fall-and-rebirth-of-cryptocurrency-debit-cards-2f5cc738eda3'
                    )
                  "
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3   mb-5 text-center">
        <button
          class="btn btn-default btn-primary links-trigger font-weight-bold"
          (click)="triggerHowToCollapse()"
          type="button"
          role="button"
          [attr.aria-expanded]="!showHowToGuides"
          aria-controls="additional-info"
        >
          <span>How To Guides</span>
          <span class="pl-2">
            <span class="fa fa-angle-down" *ngIf="!showHowToGuides"></span>
            <span class="fa fa-angle-up" *ngIf="showHowToGuides"></span>
          </span>
        </button>
        <div>
          <div
            class="collapse links-container col-12 pt-3"
            id="additional-info"
            [ngbCollapse]="!showHowToGuides"
          >
            <ul>
              <li>
                <a
                  target="_blank"
                  href="https://blockgeeks.com/guides/cryptocurrency-wallet-guide/"
                >
                  Set up a wallet
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Set up a wallet',
                      'https://blockgeeks.com/guides/cryptocurrency-wallet-guide/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://blockgeeks.com/guides/how-to-invest-in-cryptocurrencies/"
                >
                  Invest in crypto
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Invest in crypto',
                      'https://blockgeeks.com/guides/how-to-invest-in-cryptocurrencies/'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://cryptonews.com/guides/how-to-choose-an-exchange.htm"
                >
                  Choose an exchange
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Choose an exchange',
                      'https://cryptonews.com/guides/how-to-choose-an-exchange.htm'
                    )
                  "
                ></span>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://medium.com/hellogold/step-1-setting-up-a-coinbase-account-2eb652d04164"
                >
                  Set up a Coinbase account
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Set up a Coinbase account',
                      'https://medium.com/hellogold/step-1-setting-up-a-coinbase-account-2eb652d04164'
                    )
                  "
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3   mb-5 text-center">
        <button
          class="btn btn-default btn-primary links-trigger font-weight-bold"
          (click)="triggerCoursesCollapse()"
          type="button"
          role="button"
          [attr.aria-expanded]="!showCourses"
          aria-controls="additional-info"
        >
          <span>Cryptocurrencies courses</span>
          <span class="pl-2">
            <span class="fa fa-angle-down" *ngIf="!showCourses"></span>
            <span class="fa fa-angle-up" *ngIf="showCourses"></span>
          </span>
        </button>
        <div>
          <div
            class="collapse links-container col-12 pt-3"
            id="additional-info"
            [ngbCollapse]="!showCourses"
          >
            <ul>
              <li>
                <a
                  target="_blank"
                  href="https://www.coursera.org/learn/cryptocurrency/home/info"
                >
                  Princeton cryptocurrency free course
                </a>
                <span
                  class="fa fa-bookmark"
                  *ngIf="user && user.username"
                  (click)="
                    addArticleToSavedLinks(
                      'Princeton cryptocurrency free course',
                      'https://www.coursera.org/learn/cryptocurrency/home/info'
                    )
                  "
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
