<div class="home text-center">
  <h2>Welcome to your Crypto Monitor</h2>
  <div class="col-sm-8  offset-sm-2">
    <img class="bc-cover" src="assets/images/blockchain.png" />
  </div>
  <div class="col-sm-6 offset-sm-3 text-center">
    <button class="btn btn-default btn-primary" (click)="refreshInfo()">
      <span>Refresh</span>
      <span>
        <span
          style="display: inline-block; margin-left: 8px;"
          *ngIf="isUpdating"
          class="fa fa-refresh fa-spin white"
        ></span>
      </span>
    </button>
  </div>
</div>

<div class="marketing">
  <div class="row icons" *ngIf="contentLoaded">
    <div class="col-6 col-md-3 icon-container">
      <coin
        [price]="cryptoInfos.btc.eurPrice"
        [precision]="2"
        [currency]="currency"
        [name]="'bitcoin'"
        [iconId]="'bitcoin'"
      ></coin>
    </div>
    <div class="col-6 col-md-3 icon-container">
      <coin
        [price]="cryptoInfos.ether.eurPrice"
        [precision]="2"
        [currency]="currency"
        [name]="'ethereum'"
        [iconId]="'ethereum'"
      ></coin>
    </div>
    <div class="col-6 col-md-3 icon-container">
      <coin
        [price]="cryptoInfos.cardano.eurPrice"
        [precision]="3"
        [currency]="currency"
        [name]="'cardano'"
        [iconId]="'cardano'"
      ></coin>
    </div>
    <div class="col-6 col-md-3 icon-container">
      <coin
        [price]="cryptoInfos.litecoin.eurPrice"
        [precision]="2"
        [currency]="currency"
        [name]="'litecoin'"
        [iconId]="'litecoin'"
      ></coin>
    </div>
  </div>
  <div class="row" *ngIf="contentLoaded">
    <div class="col-6 col-md-3 icon-container">
      <coin
        [price]="cryptoInfos.chainlink.eurPrice"
        [precision]="2"
        [currency]="currency"
        [name]="'chainlink'"
        [iconId]="'chainlink'"
      ></coin>
    </div>
    <div class="col-6 col-md-3 icon-container">
      <coin
        [price]="cryptoInfos.tether.eurPrice"
        [precision]="2"
        [currency]="currency"
        [name]="'tether'"
        [iconId]="'tether'"
      ></coin>
    </div>
    <div class="col-6 col-md-3 icon-container">
      <coin
        [price]="cryptoInfos.tezos.eurPrice"
        [precision]="2"
        [currency]="currency"
        [name]="'tezos'"
        [iconId]="'tezos'"
      ></coin>
    </div>
    <div class="col-6 col-md-3 icon-container">
      <coin
        [price]="cryptoInfos.xrp.eurPrice"
        [precision]="3"
        [currency]="currency"
        [name]="'xrp'"
        [iconId]="'xrp'"
      ></coin>
    </div>
  </div>
</div>
