<div class="container-fluid text-center">
  <div>
    <h2 class="pt-5">
      Portfolio
      <h6>
        {{ portfolio.label ? portfolio.label : (portfolio.startDate | date) }}
      </h6>
    </h2>

    <div class="row mt-5" *ngIf="portfolio && portfolio.summary">
      <div class="indicators mt-4 mb-3 col-12 col-md-4 col-lg-3 col-xl-4">
        <div>
          <h5 class="purple">Portoflio Accrued Data</h5>
          <div class="row pt-5">
            <div class="col-12">
              <div>
                <h6>Current value</h6>
                <price
                  [currency]="currency"
                  [precision]="2"
                  [price]="portfolio.summary.currentVal"
                ></price>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div>
                <h6>Starting value</h6>
                <price
                  [currency]="currency"
                  [precision]="2"
                  [price]="portfolio.summary.startingVal"
                ></price>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div>
                <h6>Growth (%)</h6>
                <span
                  [ngClass]="{
                    green: portfolio.summary.groupedGrowth >= 0,
                    red: portfolio.summary.groupedGrowth < 0
                  }"
                  >{{ portfolio.summary.groupedGrowth | percent: "1.3" }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 mb-3 col-lg-6 col-xl-4">
        <div class="mt-3 flex">
          <div class="flex-item">
            <div class="row">
              <div class="col-12">
                <h5 class="purple mb-4">Coin distribution</h5>
                <canvas
                  baseChart
                  [data]="currentDoughnutChartData"
                  [labels]="currentDoughnutChartLabels"
                  [chartType]="doughnutChartType"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-3 col-xl-4 coins-growth-section">
        <h5 class="purple mt-3">Coins Growth Data</h5>
        <div class="mt-5">
          <div
            class="row mb-2"
            *ngFor="let coin of portfolio.currentCoinValues | keyvalue"
          >
            <div class="col-12 text-center">
              <div
                class="coin-container"
                [routerLink]="['/coinpage', coin.key.toLowerCase()]"
              >
                <coin
                  [iconId]="coin.key.toLowerCase()"
                  [name]="coin.key"
                ></coin>
                <span
                  class="growth-indicator"
                  [ngClass]="{
                    green: coin.value.growth >= 0,
                    red: coin.value.growth < 0
                  }"
                  >{{ coin.value.growth | percent: "1.3" }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
