:host {
  width: 100%;
  height: 100%;
}

#price-chart {
  width: 90% !important;
  height: 520px !important;
}

.indicators {
  margin-top: 32px;
}

.greed-and-fear {
  display: block;
  width: 80%;
  margin: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.crypto-index {
  width: 100%;
  min-height: 80%;
}

@media (max-width: 1024px) {
  #price-chart {
    width: 100% !important;
    height: 328px !important;
    margin-top: 48px;
  }

  .indicators {
    margin-top: 16px;
  }

  .greed-and-fear {
    width: 100%;
  }

  @media (max-height: 768px) {
    #price-chart {
      height: 420px !important;
    }
  }
}

@media (max-width: 768px) {
  .indicators {
    margin-top: 24px;
  }
  label {
    width: 100%;
  }
  .crypto-index {
    min-height: 356px;
    width: 90%;
  }
}

@media (max-width: 425px) {
  #price-chart {
    height: 228px !important;
    margin-top: 32px;
  }

  .filters {
    .selector {
      text-align: left;
      padding-left: 20%;
      margin-bottom: 8px;
      label {
        width: 94px;
      }
      select {
        width: 106px;
      }
    }
  }

  .crypto-index {
    width: 100%;
    min-height: 256px;
  }
}
