:host {
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 2em;
}

.add-coin-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: -1px;
  margin-left: 16px;
  text-align: center;
  vertical-align: top;
  font-size: 1.3em;
}
